@import url('https://fonts.cdnfonts.com/css/apercu');
                             
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Apercu",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  background-color: #FFF0E5;
}
header {
  display: flex;
  width: 85%;
  height: 10vh;
  margin: auto;
  align-items: center;
}
.logo-container, .nav-links, .log, .search {
  display: flex;
}
.logo-container {
  flex: 1;
}
.logo img {
  width: 140px;
  height: 25px;
}
.logo {
  margin-left: 10px;
}
nav {
  flex: 2;
}
.nav-links {
  justify-content: space-between;
  list-style: none;
}
.nav-link {
  font-weight: 400;
  font-family: "Apercu";
  color: black;
  font-size: 16px;
  text-decoration: none;
}
.nav-link:hover {
  color: blueviolet;
}
.search {
  flex: 1;
  justify-content: flex-end;
}
.search img {
  width: 30px;
  height: 20px;
}
.search:hover {
  color: blueviolet;
}
.log {
  flex: 1;
  justify-content: flex-end;
  font-family: "Apercu";
  font-weight: 700;
}
.log:hover {
  color: blueviolet;
}
.present {
  display: flex;
  width: 80%;
  margin: auto;
  min-height: 50vh;
  padding-top: 70px;
  align-items: center;
}
.cover img {
  height: 55vh;
  border: 1px solid black;
  position: relative;
}
.cover {
  flex: 1;
  padding-right: 50px;
  padding-bottom: 20px;
}
.introduction {
  flex: 1;
  padding-left: 80px;
}
.intro-text h1 {
  font-size: 28px;
  font-weight: 700;

}
form {
  min-height: 45vh;
  width: 200px;
  padding: 20px;
}
.form p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(53, 51, 51);
  padding-top: 30px;
  text-align: left;
}
input {
  width: 400px;
  height: 50px;
  padding: 10px;
}
button {
  width: 400px;
  height: 40px;
  color: white;
  background-color: #3306d6;
  border-radius: 5px;
}
.social p {
  font-size: 16px;
  font-weight: 700;
  margin-left: 15px;
}
.social {
  padding-bottom: 100px;
  margin-left: 5px;
}
.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-top: 20px;
  
}
.social-item img {
  height: 50px;
  width: 60px;
  margin: 0 10px;
  border: 1px solid black;
  background-color: white;
}